
.booking{
   background: url(../img/layer2.png) 0 top no-repeat local,
               url(../img/left-cat.jpg) 0 0 no-repeat fixed #f5eec4;            
   position: relative;
}
.booking-container{
   max-width: 560px;
   margin-right: 0;
   margin-left: auto;
   text-align: center;
   padding: 5rem 5rem 5rem 0;
}
.booking-title{
   margin-top: 4rem;
}
.booking-calendar{
   margin: 0;
   padding: 0;
   background: #822771;
   border-spacing: 0;
   border: 1px solid #822771;
   color: #fff;
   line-height: 3rem;
   font-size: 1.1rem;
   letter-spacing: 2px;
   text-transform: uppercase;
}
.week{
   display: flex;
   justify-content: space-between;
   list-style: none;
   background-color: #722162;
   color: #fff;
   text-transform: uppercase;
}
.week-day{
   margin: 10px auto;
   text-align: center;
}
.calendar-body{
   display: grid;
   grid-template-columns: repeat(7, 1fr);
   background-color: #FAFAFA;
}
.one-day{
   display: inline;
   padding: 20px 5px;
   border: 1px solid rgba(0,0,0,.1);
   position: relative;
}
.one-day:hover{
   color: #fff!important;
   background-color: #822771!important;
   border-radius: 50%;
}
.booking-layer{
   position: absolute;
   bottom: -1px;
   width: 100%;
}
thead{
   background-color: #822771;
   color: #fff;
   text-transform: uppercase;
}
.month{
   height: 3rem;
}
th{
   height: 40px;
}
.days{
   background-color: #722162;
}
tr{
   width: 100%;
}
td{
   width: 70px;
   height: 65px;
   border: 1px solid #ddd;
}
