*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   border: none;
}
body{
   font-size: 18px;
   font-family: 'Roboto', sans-serif;
}
a{
   text-decoration: none;
}
a:hover, a:active{
   color: #FCF07F;
}
h1{
   font-size: 2.5rem;
}
h2{
   color: #822771;
   font-size: 2rem;
   padding-bottom: 3rem;
}
h3{
   margin: 1rem 0 .5rem 0;
}
img{
   display: block;
   max-width: 100%;
}